#login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1rem;
  box-shadow: 0 0 5px grey;
  padding: 2rem;
  background-color: #fffefe;
  border-radius: 4px;
  width: 30rem;
}
#login-form h3 {
  margin-right: 22rem;
  margin-bottom: 0.5rem;
}
#login-form #input-tag {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  width: 26rem;
}
#login-form #input-tag input {
  height: 2.5rem;
  border-radius: 4px;
  border: 1px solid grey;
  padding-left: 4px;
}
#login-form #input-tag input:focus {
  outline: none;
}
#login-form button {
  width: 26rem;
  height: 2.5rem;
  border-radius: 4px;
  border: none;
  background-color: rgb(239, 79, 95);
  color: #ece2e2;
}
#login-form-main-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  transition: transform 1s ease;
  transform: translateY(100%);
}
#login-form-main-div #login-form button:hover {
  cursor: pointer;
}
#cross-icon {
  display: flex;
}

#login-form-main-div #login-form .line {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 6px;
}
#login-form-main-div #login-form .line hr {
  width: 39%;
}

#login-form-main-div #login-form .email {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 8px;
  border: 1px solid rgb(190, 186, 186);
  padding: 0.7rem 0;
  border-radius: 6px;
  margin-top: 1rem;
  width: 86%;
}

#login-form-main-div #login-form .email .email-icon {
  color: rgb(239, 79, 95);
  font-size: 1.5rem;
}

#login-form-main-div #login-form .line {
  display: flex;
  justify-content: start;
  align-items: center;
  column-gap: 8px;
  margin-left: 14%;
}

#login-form-main-div #login-form .line .create {
  color: rgb(238, 79, 95);
  cursor: pointer;
}

#login-form-main-div #login-form .line Link .create {
  text-decoration:none;
}

@media screen and (max-width: 650px) {
  #login-form {
    row-gap: 1rem;
    padding: 2rem;
    width: 20rem;
  }
  #login-form h3 {
    margin-right: 14rem;
    margin-bottom: 0.5rem;
  }
  #login-form #input-tag {
    row-gap: 1rem;
    width: 18rem;
  }
  #login-form #input-tag input {
    height: 2.2rem;
    padding-left: 4px;
  }
  #login-form button {
    width: 18rem;
    height: 2.2rem;
  }
}

@media screen and (max-width: 500px) {
  #login-form {
    row-gap: 1rem;
    padding: 1.5rem;
    width: 18rem;
  }
  #login-form h3 {
    margin-right: 12rem;
    margin-bottom: 0.5rem;
  }
  #login-form #input-tag {
    row-gap: 1rem;
    width: 16rem;
  }
  #login-form #input-tag input {
    height: 2.1rem;
    padding-left: 4px;
  }
  #login-form button {
    width: 16rem;
    height: 2.1rem;
  }
}

@media screen and (max-width: 375px) {
  #login-form {
    row-gap: 0.8rem;
    padding: 1.3rem;
    width: 16rem;
  }
  #login-form h3 {
    margin-right: 10rem;
    margin-bottom: 0.3rem;
  }
  #login-form #input-tag {
    row-gap: 0.8rem;
    width: 14rem;
  }
  #login-form #input-tag input {
    height: 2.1rem;
    padding-left: 4px;
  }
  #login-form button {
    width: 14rem;
    height: 2.1rem;
  }
}
