.PartnerProfile .PartnerProfile-child1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.PartnerProfile .PartnerProfile-child1 .image{
    height: 5rem;
    width: 5rem;
    border-radius: 100%;
    margin-top: 2rem;
}
.PartnerProfile .PartnerProfile-child1 .details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.PartnerProfile .PartnerProfile-child1 .details .t1{
    color: #1a1a1a;
    margin-top: 0.5rem;
}

.PartnerProfile .PartnerProfile-child1 .details .t2{
    color: gray;
}

.PartnerProfile .PartnerProfile-child1 .section{
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 50vw;
}

.PartnerProfile .PartnerProfile-child1 .leftArrow{
    color: black;
    font-size: 1rem;
    position: fixed;
    top: 3;
    left: 3;
}

/* mt-10 p-1 w-11/12 sm:w-9/12 md:w-7/12 text-white rounded-md shadow-lg md:p-2 bg-slate-900 */
.PartnerProfile .PartnerProfile-child1 .ulList{
    margin-top: 1rem;
    padding: 6px;
    width: 90%;
    border-radius: 4px;
    background: #b9e0eb;
}
/* px-4 py-1 flex justify-between items-center gap-x-2 hover:bg-gray-200 hover:rounded-md hover:text-black */

.PartnerProfile .PartnerProfile-child1 .listItem{
    padding: 2px 5px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

.PartnerProfile .PartnerProfile-child1 .listItem button{
    background: #b9e0eb;
    border: none;
}

.PartnerProfile .PartnerProfile-child1 .ulList .linkTag{
    text-decoration: none;
}

.PartnerProfile .PartnerProfile-child2{
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.PartnerProfile .PartnerProfile-child2 .account-deleteion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1rem;
    padding: 1rem 2rem;
    border: 1px solid rgb(63, 63, 63);
    background: #fff;
}

.PartnerProfile .PartnerProfile-child2 .account-deleteion .button{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
}

.PartnerProfile .PartnerProfile-child2 .account-deleteion .button button{
    padding: 3px 6px;
}

@media screen and (max-width:900px){
    .PartnerProfile .PartnerProfile-child1 .section{
        width: 70vw;
    }
}

@media screen and (max-width:500px){
    .PartnerProfile .PartnerProfile-child1 .section{
        width: 90vw;
    }
    .PartnerProfile .PartnerProfile-child2 .account-deleteion{
        padding: 1rem;
    }
}