.each-product {
  display: flex;
  align-items: center;
  overflow: scroll;
  overflow-y: hidden;
  margin: 12px 7vw;
  /* border: 1px solid red; */
  column-gap: 2rem;
}
.each-product::-webkit-scrollbar {
  display: none;
}
.each-product {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
#each-project-main-div {
  background-color: #f9f8f8;
  padding: 1rem 0;
  /* padding: 1rem 7vw; */
  margin-top: 0rem;
}
#each-project-main-div span{
  font-size: 1.8rem;
  color: rgb(34, 34, 34);
  margin: 7vw;
}

@media screen and (max-width: 975px) {
  .each-product {
    margin: 12px 6vw;
  }
  #each-project-main-div span{
    margin: 6vw;
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 768px) {
  .each-product {
    margin: 12px 3vw;
    column-gap: 1rem;
  }
  #each-project-main-div span{
    margin: 3vw;
    font-size: 1.4rem;
  }
}

