#zomato-button{
    display: none;
    height: 1.6rem;
    width: 1.6rem;
    color: grey;
    padding: 0.1rem;
    border: 1px solid grey;
    border-radius: 50%;
    color: rgba(255, 18, 18, 0.994);
}
#zomato h2{
    display: none;
}
#zomato h1{
    display: block;
}

#option{
    display: none;
}


@media screen and (max-width:768px){

    #zomato{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #zomato #option button:hover{
        cursor: pointer;
        background-color: rgb(224, 222, 222);
        overflow: hidden;
    }
    #zomato #option{
        cursor: pointer;
        background-color: #fff;
        position: absolute;
        box-shadow: 0 0 3px grey;
        top: 3.5rem;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        border-radius: 8px;
        right: 3vw;
    }
    #zomato #option button{
        border: none;
        background-color: transparent;
        font-size: 0.9rem;
        color: rgb(40, 39, 39);
        width: 8rem;
        text-align: left;
        padding: 6px 0 6px 8px;
    }
    .make-border-radius-8px-top{
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }
    .make-border-radius-8px-bottom{
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
    }

    #zomato-button{
        display: block;
    }
    #zomato{
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        padding: 14px 1rem;
        box-shadow:  0px 0px 2px  rgb(57, 55, 55);
    }
    #zomato h2{
        display: block;
    }
    #zomato h1{
        display: none;
    }
}