.discount-image{
    height: 30vw;
    width: 88vw;
    margin: 2rem 6vw 0 6vw;
}

@media screen and (max-width:768px){
    .discount-image{
        height: 30vw;
        width: 96vw;
        margin: 2rem 2vw 0 2vw;
    }
}