.search-box {
  position: absolute;
  right: 24vw;
  top: 4rem;
  border: 1px solid rgb(198, 193, 193);
  background-color: #fff;
  z-index: 2;
  border-radius: 8px;
  width: 35vw;
  overflow: scroll;
  height: 80vh;
}
@media screen and (max-width: 768px) {
  .search-box {
    position: sticky;
    bottom: 0;
    right: 0;
    top: 12rem;
    width: 100vw;
  }
}

/* @media screen and (max-width: 760px) {
  .search-box {
   display: none;
  }
} */
