.PartnerRegister {
  background-image: url("https://b.zmtcdn.com/mx-onboarding-hero87f77501659a5656cad54d98e72bf0d81627911821.webp");
  background-size: cover;
  height: 66vh;
  color: #fff;
}

.PartnerRegister .body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.PartnerRegister .t1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  padding-left: 15vw;
  padding-right: 15vw;
}

.PartnerRegister .t1 img {
  width: 8rem;
}

.PartnerRegister .t1 button {
  background: none;
  color: #fff;
  border: 1px solid rgb(249, 245, 245);
  padding: 5px 10px;
  border-radius: 6px;
}

.PartnerRegister .body .body-child {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  width: 50rem;
  margin-top: 2rem;
}

.PartnerRegister .t2 div {
  font-size: 2.4rem;
}

.PartnerRegister .t3 {
  font-weight: 600;
}

.PartnerRegister .t4 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.PartnerRegister .t4 button {
  padding: 1rem 2rem;
  border-radius: 6px;
  border: none;
  width: 48%;
  font-size: 1.2rem;
}

.PartnerRegister .t4 .b1 {
  background: rgb(89, 128, 247);
  color: #fff;
}

.PartnerRegister .t4 .b1:hover {
  background: rgb(57, 96, 212);
}

.PartnerRegister .t4 .b2 {
  color: rgb(59, 59, 59);
  background-color: #fff;
}

.PartnerRegister .t4 .b2:hover {
  background-color: #f1eded;
}

.PartnerRegister .PartnerRegister-child {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}

.PartnerRegister .PartnerRegister-child .PartnerRegister-grandChild {
  background: #fff;
  color: black;
  width: 30rem;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  padding: 1.5rem 2rem;
  border-radius: 6px;
  transition: transform 1s ease;
  transform: translateY(100%);
  border: 1px solid rgb(125, 125, 125);
}

.PartnerRegister .PartnerRegister-child .PartnerRegister-grandChild form {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.PartnerRegister .PartnerRegister-child .PartnerRegister-grandChild form input {
  height: 2.2rem;
  border-radius: 6px;
  border: 2px solid rgb(208, 208, 208);
  padding-left: 4px;
}

.PartnerRegister
  .PartnerRegister-child
  .PartnerRegister-grandChild
  form
  .input:focus {
  outline: 2px solid rgb(91, 203, 91);
}

.PartnerRegister .PartnerRegister-child .PartnerRegister-grandChild .check-box {
  display: flex;
  justify-content: start;
  align-items: center;
  color: rgb(110, 109, 109);
}

.PartnerRegister
  .PartnerRegister-child
  .PartnerRegister-grandChild
  .check-box
  label {
  font-size: 0.8rem;
}

.PartnerRegister
  .PartnerRegister-child
  .PartnerRegister-grandChild
  .check-box
  span {
  font-size: 0.8rem;
  color: rgb(239, 79, 95);
}

.PartnerRegister .PartnerRegister-child .PartnerRegister-grandChild .line hr {
  width: 48%;
}

.PartnerRegister .PartnerRegister-child .PartnerRegister-grandChild .line {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 8px;
  color: rgb(110, 109, 109);
  margin: 1rem 0;
}

.PartnerRegister
  .PartnerRegister-child
  .PartnerRegister-grandChild
  .line
  .create {
  color: rgb(239, 79, 95);
}

.PartnerRegister
  .PartnerRegister-child
  .PartnerRegister-grandChild
  .line
  .create:hover {
  cursor: pointer;
}

.PartnerRegister .PartnerRegister-child .PartnerRegister-grandChild .email {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 8px;
  border: 1px solid rgb(99, 98, 98);
  height: 2.2rem;
  color: rgb(110, 109, 109);
  border: 1px solid rgb(110, 109, 109);
  border-radius: 6px;
}

.PartnerRegister
  .PartnerRegister-child
  .PartnerRegister-grandChild
  .email:hover {
  cursor: pointer;
}

.PartnerRegister .PartnerRegister-child .PartnerRegister-grandChild button {
  height: 2.4rem;
  color: rgb(110, 109, 109);
  border: 1px solid rgb(110, 109, 109);
  border-radius: 6px;
}

.PartnerRegister .PartnerRegister-child .PartnerRegister-grandChild .signup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(69, 68, 68);
}

.PartnerRegister
  .PartnerRegister-child
  .PartnerRegister-grandChild
  .signup
  div {
  font-size: 2rem;
}

.PartnerRegister
  .PartnerRegister-child
  .PartnerRegister-grandChild
  .signup
  .cross-icon {
  font-size: 1.5rem;
  cursor: pointer;
}

.PartnerRegister .verify-otp{
  height: 100vh;
  width: 100vw;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
  z-index: 1;
}
.PartnerRegister .verify-otp .verify-otp-content{
  width: 30rem;
  background-color: #fff;
  color: black;
  padding: 1.5rem;
  border: 1px solid rgb(73, 72, 72);
  border-radius: 6px;
}

.PartnerRegister .verify-otp .verify-otp-content .para{
 text-align: center;
 margin: 2rem 0 1.5rem 0;
}

.PartnerRegister .verify-otp .verify-otp-content form input{
 width: 2.8rem;
 height: 2.5rem;
 border: 1px solid rgb(62, 62, 62);;
 border-radius: 6px;
 margin-bottom: 1rem;
 text-align: center;
 }

.PartnerRegister .verify-otp .verify-otp-content form{
  display: flex;
  justify-content: center;
  column-gap: 1rem;
  align-items: center;
 }

 .PartnerRegister .verify-otp .verify-otp-content .resend{
  text-align: center;
  margin-top: 1rem;
 }

 .PartnerRegister .verify-otp .verify-otp-content .otp-verif{
  display: flex;
  justify-content: space-between;
  align-items: center;
 }

 .PartnerRegister .verify-otp .verify-otp-content .otp-verif div{
  font-size: 1.8rem;
  color: rgb(62, 62, 62);
 }

 .PartnerRegister .verify-otp .verify-otp-content .time-count{
  color: rgb(62, 62, 62);
  text-align: center;
  margin: 0.5rem 0;
 }

@media screen and (max-width: 900px) {
  .PartnerRegister {
    height: 80vh;
  }

  .PartnerRegister .t4 {
    flex-direction: column;
    row-gap: 1rem;
  }

  .PartnerRegister .t2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .PartnerRegister .t2 div {
    font-size: 1.8rem;
  }

  .PartnerRegister .t3 {
    text-align: center;
  }

  .PartnerRegister .t5 {
    text-align: center;
  }

  .PartnerRegister .PartnerRegister-child .PartnerRegister-grandChild {
    width: 25rem;
  }

  .PartnerRegister
  .PartnerRegister-child
  .PartnerRegister-grandChild
  .check-box
  label {
  font-size: 0.6rem;
}

.PartnerRegister
  .PartnerRegister-child
  .PartnerRegister-grandChild
  .check-box
  span {
  font-size: 0.6rem;
}
}

@media screen and (max-width: 800px) {
  .PartnerRegister {
    height: 90vh;
  }
  .PartnerRegister .t4 button {
    width: 22rem;
    font-size: 1rem;
  }
  .PartnerRegister .t2 .div2 {
    text-align: center;
  }
  .PartnerRegister .verify-otp .verify-otp-content{
    width: 26rem;
  }
}

@media screen and (max-width: 480px) {
  .PartnerRegister .PartnerRegister-child .PartnerRegister-grandChild {
    position: fixed;
    bottom: 0;
    width: 90%;
    padding-bottom: 3rem;
  }
  .PartnerRegister .verify-otp .verify-otp-content{
    width: 90%;
    position: fixed;
    bottom: 0;
    height: 70vh;
  }
}
