#section{
    display: flex;
    margin: 1rem 6.5vw 0 6.5vw;
    column-gap: 2rem;
}
#section #delivery .border, #section #dining-out .border, #section #night-life .border{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.5rem;
    padding: 1rem 0;
}
#section #delivery .border span, #section #dining-out .border span,#section #night-life .border span{
    font-size: 1.2rem;
    /* color: rgb(63, 63, 63); */
}
#section #delivery .border img, #section #dining-out .border img,#section #night-life .border img{
    height: 2.2rem;
    width: 2.2rem;
    /* border: 1px solid red; */
    padding: 0.8rem;
    border-radius: 50%;
    background-color: rgb(252, 238, 192);
}
.hr-tag{
    border: 1px solid rgb(244, 241, 241);
}
#section-main-div{
    position: sticky;
    top: 0;
    background-color: #fff;
}

@media screen and (max-width:768px){
    #section{
        margin: 0.9rem 2vw 0 2vw;
        column-gap: 2rem;
    }
    #section #delivery .border, #section #dining-out .border, #section #night-life .border{
        column-gap: 0.5rem;
        padding: 0.9rem 0;
    }
}

@media screen and (max-width:600px){
    #section{
        margin: 0.75rem 2vw 0 2vw;
        column-gap: 1.2rem;
    }
    #section #delivery .border img, #section #dining-out .border img,#section #night-life .border img{
        height: 1.6rem;
        width: 1.6rem;
        /* border: 1px solid red; */
        padding: 0.5rem;
        border-radius: 50%;
        background-color: rgb(252, 238, 192);;
    }
    #section #delivery .border span, #section #dining-out .border span,#section #night-life .border span{
        font-size: 1rem;
    }
    #section #delivery .border, #section #dining-out .border,#section #night-life .border{
        column-gap: 0.2rem;
        padding: 0.75rem 0;
    }
}

@media screen and (max-width:382px){
    #section{
        margin: 0.65rem 2vw 0 2vw;
        column-gap: 1.1rem;
    }
    #section #delivery .border img, #section #dining-out .border img,#section #night-life .border img{
        height: 1.5rem;
        width: 1.5rem;
        /* border: 1px solid red; */
        padding: 0.3rem;
        border-radius: 50%;
        background-color: rgb(252, 238, 192);;
    }
    #section #delivery .border span, #section #dining-out .border span,#section #night-life .border span{
        font-size: 0.9rem;
    }
    #section #delivery .border, #section #dining-out .border,#section #night-life .border{
        column-gap: 0.1rem;
        padding: 0.65rem 0;
    }
}