.partnerRestaurant .restaurantData{
    border: 1px solid rgb(108, 106, 106);
    margin: 7rem 10vw 1rem 10vw;
    padding: 6px 10px;
    border-radius: 4px;
}

.partnerRestaurant .restaurantData .image img{
    width: 100%;
}
.partnerRestaurant .restaurantData .image{
    width: 10rem;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 4px;
}

.partnerRestaurant .restaurantData button{
    padding: 8px 16px;
    border-radius: 4px;
    border: none;
    background-color: rgb(57, 92, 196);
    color: #fff;
    font-size: 1.1rem;
    position: relative;
    float: right;
    bottom: 3rem;
}

.partnerRestaurant .restaurantData button:hover{
    cursor:default;
    background-color: rgb(17, 45, 130);
}

@media screen and (max-width:500px){
    .partnerRestaurant .restaurantData button{
        bottom: 2.5rem;
        padding: 6px 12px;
        font-size: 1rem;
        left: 0.5rem;
    }
}